<div>
  <h1>Chess Game</h1>
  <div class="board">
    <div *ngFor="let row of [0,1,2,3,4,5,6,7]; let rowIndex = index" class="row">
      <div *ngFor="let col of [0,1,2,3,4,5,6,7]; let colIndex = index" class="cell"
           [ngClass]="{
             'possible-move': isPossibleMove(rowIndex, colIndex),
             'white-piece': getPieceColor(rowIndex, colIndex) === 'white',
             'black-piece': getPieceColor(rowIndex, colIndex) === 'black'
           }"
           (click)="handleCellClick(rowIndex, colIndex)">
        <div *ngIf="getPieceName(rowIndex, colIndex)">
          {{ getPieceName(rowIndex, colIndex) }}
        </div>
      </div>
    </div>
  </div>
  <button (click)="getGameState()">Get State</button>
  <button (click)="resetGame()">Reset Game</button>
  <button (click)="simulateGame()">Simulate Game</button>
  <div>
    <h2>Removed Pieces</h2>
    <ul>
      <li *ngFor="let piece of removedPieces">
        {{ piece.name }} ({{ piece.color }})
      </li>
    </ul>
  </div>
  <div>
    <h2>Move History</h2>
    <ul>
      <li *ngFor="let move of moveHistory">
        {{ move.color }} {{ move.piece }} moved from ({{ move.from.Row }}, {{ move.from.Column }}) to ({{ move.to.Row }}, {{ move.to.Column }}) - {{ move.message }}
      </li>
    </ul>
  </div>
</div>
